---
import Ladder from '@/components/Ladder/Ladder.astro';
import { articles } from '@/utils';
import Article from './Article.astro';
---

<section class="w-full">
  <div class="flex flex-col gap-3 sm:gap-8 xl:flex-row">
    <Ladder />
    <div class="flex flex-auto basis-2/5 flex-col overflow-hidden rounded-3xl">
      {
        articles.map(({ title, content, date, tournament }) => (
          <Article
            title={title}
            content={content}
            date={date}
            tournament={tournament}
          />
        ))
      }
    </div>
  </div>
</section>
