---

---
<footer class='flex flex-col items-center justify-center text-gray-300'>
    <p class="mb-4 order-last sm:order-first text-sm">
      © {new Date().getFullYear()} Elitemod
    </p>
</footer>
