---
import { dowIconImgSrcs } from '@/shared/consts';
import { getRandomFromArray } from '@/utils';
interface Props {
  header: string;
  title: string;
  dateTime: string;
}

const { header, title, dateTime } = Astro.props;
---

<div
  class="relative w-full basis-1/2 cursor-pointer overflow-hidden rounded-2xl border-2 transition hover:bg-gray-800"
>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 bg-cover bg-center bg-no-repeat opacity-80 mix-blend-multiply brightness-75 contrast-150 saturate-0"
  >
  </div>
  <a
    class="relative flex h-full flex-col items-center justify-center p-3 sm:p-8 lg:h-auto lg:flex-row"
  >
    <img
      class="h-24 w-24 flex-none rounded object-contain"
      alt=""
      src={getRandomFromArray(dowIconImgSrcs)}
    />
    <div class="flex-auto px-8">
      <h4 class="text-sm font-black uppercase opacity-60">{header}</h4>
      <h2 class="text-xl font-black">{title}</h2>
      <div>{dateTime}</div>
    </div>
  </a>
</div>
