---
import HeroCard from './HeroCard.astro';

const cards = [
  {
    header: 'current elitemod patch',
    title: 'v2.9.8.4 Released',
    dateTime: 'January 3rd, 2023'
  },
  {
    header: '$1000 1v1 Tournament',
    title: 'Faction Waaagh!',
    dateTime: 'January 20th - 22nd'
  }
];
---

<header class="relative pt-16 md:pt-24 lg:pt-48">
  <div
    class="absolute
    inset-0
    bottom-8
    -z-10
    bg-gradient-to-b
    from-amber-400
    to-amber-600
    md:bottom-24
    xl:bottom-32"
  >
  </div>
  <div
    class="container
    mx-auto
    grid
    grid-rows-1
    place-items-end
    px-2"
  >
    <img
      src="./assets/couch.png"
      class="col-start-1
      col-end-2
      row-start-1
      row-end-2
      mx-auto"
      alt="Couch"
    />
    <img
      src="./assets/app.svg"
      class="col-start-1
      col-end-2
      row-start-1
      row-end-2
      mx-auto
      w-40
      sm:w-52
      md:w-64
      lg:w-72"
      alt="app"
    />
  </div>
</header>
