---
import {Button} from '@/components/ui/button';

const navigationItems = ['Codex', 'Ladder', 'Elite', 'Forum'];
---

<nav class="flex flex-row items-center justify-between p-4 rounded-xl z-40">
  <a href="#"> <img class="object-contain h-12 w-12" src="/images/badge.png" alt="" /></a>
  <div class="flex items-center mb-4 md:block">
    {navigationItems.map(item => (
      <a class="font-semibold hover:text-white text-gray-300 mr-8" href="#">{item}</a>
    ))}
    <a><Button className='bg-blue-900 hover:bg-slate-600'>DOWNLOAD</Button></a>
  </div>
</nav>
