---
import { faker } from '@faker-js/faker';
---

<div
  class="relative mx-auto -mb-2 w-full max-w-screen-2xl pb-12 md:pb-8 lg:px-8"
>
  <div class="absolute left-0 right-0 top-0 h-full max-h-44">
    <img
      src="https://i.alza.cz/Foto/ImgGalery/Image/warhammer-40000-space-marine-2-cover-bez-loga-pozadi.jpg"
      class="rounded-2xl bg-cover opacity-40"
    />
  </div>
</div>
<div class="relative mx-auto max-w-screen-2xl p-4 md:p-8 lg:px-8">
  <div class="flex flex-wrap items-center gap-6">
    <a href="#">
      <img
        alt=""
        class="h-24 w-24 rounded object-cover"
        src={faker.image.url()}
      />
    </a>
    <div class="flex-auto text-white">
      <div class="flex items-center gap-2">
        <a class="mr-2 text-4xl font-bold">{faker.person.fullName()}</a>
        <a
          class="transition hover:opacity-80"
          rel="noreferrer noopener"
          target="_blank"
        >
          b
        </a>
        <a
          class="transition hover:opacity-80"
          rel="noreferrer noopener"
          target="_blank"
        >
          a
        </a>
      </div>
    </div>
  </div>
</div>
