---
import { faker } from '@faker-js/faker';
---

<div class="relative w-full -mb-2 pb-12 md:pb-8 max-w-screen-2xl lg:px-8 mx-auto">
  <div class="absolute top-0 left-0 right-0 h-full max-h-44">
    <img
      src="https://i.alza.cz/Foto/ImgGalery/Image/warhammer-40000-space-marine-2-cover-bez-loga-pozadi.jpg"
      class="opacity-40 bg-cover rounded-2xl"
    />
    </div>
  </div>
  <div class="p-4 md:p-8 max-w-screen-2xl lg:px-8 mx-auto relative">
    <div class="flex items-center flex-wrap gap-6">
      <a href="#">
        <img
          alt=""
          class="h-24 w-24 rounded object-cover"
          src={faker.image.url()}
        />
      </a>
      <div class="text-white flex-auto">
        <div class="flex items-center gap-2">
          <a class="text-4xl mr-2 font-bold">{faker.person.fullName()}</a>
          <a
            class="hover:opacity-80 transition"
            rel="noreferrer noopener"
            target="_blank"
          >
            b
          </a>
          <a
            class="hover:opacity-80 transition"
            rel="noreferrer noopener"
            target="_blank"
          >
            a
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
