---
import Hero from '@/components/Hero.astro';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import MainContent from '@/components/MainContent.astro';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <main class='p-4 md:p-8'>
    <div class='max-w-screen-2xl mx-auto'>
      <Hero />
      <MainContent />
    </div>
  </main>
</Base>
