---
interface Props {
  title: string;
  description: string;
  icon: string;
}

const { title, description, icon } = Astro.props as Props;
---

<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
  <div
    class="flex-1 justify-center text-center text-white bg-gray-800 rounded-t rounded-b-none overflow-hidden shadow"
  >
    <a href="#" class="flex flex-wrap no-underline hover:no-underline">
      <div class="w-full flex flex-row items-center justify-center text-white font-extrabold text-xl px-6 py-4">
        {title}
        <img class='h-16' src={icon} />
      </div>
      <p class="text-white text-base px-6 mb-5">
        {description}
      </p>
    </a>
  </div>
  <div
    class="flex-none mt-auto bg-blue-900 rounded-b rounded-t-none overflow-hidden shadow p-6"
  >
    <div class="flex items-center justify-center">
      <button
        class="mx-auto lg:mx-0 gradient text-white border-blue-300 border hover:bg-blue-300 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
      >
        Show more
      </button>
    </div>
  </div>
</div>
