---
import { Icon } from 'astro-icon';
import HeroCard from './HeroCard.astro';

const cards = [
  {
    header: 'current elitemod patch',
    title: 'v2.9.8.4 Released',
    dateTime: 'January 3rd, 2023'
  },
  {
    header: '$1000 1v1 Tournament',
    title: 'Faction Waaagh!',
    dateTime: 'January 20th - 22nd'
  }
];
---

<section class="overflow-auto sm:overflow-hidden mb-4 md:mb-8">
  <div
    class="flex sm:w-auto flex-row sm:flex-col lg:flex-row mb-0 gap-3 sm:gap-8 sm:mb-0 w-[270%]"
  >
    <div
      class="border-2 rounded-2xl border-zinc-500 relative flex h-auto w-full overflow-hidden basis-1/3 md:basis-1/2 lg:basis-3/5 xl:basis-3/5"
    >
      <div
        class="bg-promo-one bg-no-repeat absolute inset-0 bg-cover opacity-30"
      >
      </div>
      <div class="relative p-8 flex flex-col gap-6 justify-evenly">
        <h1
          class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
        >
          Elitemod Official
        </h1><p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
          optio hic aperiam molestiae doloribus dolorem tempore repellat ad
          voluptas corrupti, harum nemo delectus, ducimus recusandae esse sit
          molestias! Ratione, sunt?
        </p>
        <div class="flex flex-row gap-6">
          <Icon class="h-10 text-white" name="mdi:discord" />
          <Icon class="h-10 text-white" name="mdi:twitch" />
        </div>
      </div>
    </div>
    <div
      class="flex-auto flex flex-row lg:flex-col gap-3 sm:gap-8 grow-0 w-full basis-2/3 sm:basis-1/2 lg:basis-2/5"
    >
      {
        cards.map(({ header, title, dateTime }) => (
          <HeroCard header={header} title={title} dateTime={dateTime} />
        ))
      }
    </div>
  </div>
</section>
