---
import Section from '@/templates/Section.astro';
import { pageElements } from '@/utils';
import Card from './Card.astro';
---

<Section title="Explore">
  {
    pageElements.map(({ title, description, icon }) => (
      <Card title={title} description={description} icon={icon} />
    ))
  }
</Section>
