---
import { Picture } from '@astrojs/image/components';
import { Icon } from 'astro-icon';

// <h2
//       class="flex flex-col self-end gap-2 sm:gap-4 sm:self-auto sm:justify-self-end"
//     >
//       <div
//         class="text-white font-extrabold tracking-tighter text-center text-8xl"
//       >
//         Elitemod Landing Page
//       </div>
//       <Icon class="h-12 text-white" name="mdi:discord" />
//       <Icon class="h-12 text-white" name="mdi:cloud" />
//     </h2>
---

<section class="bg-promo-one bg-no-repeat bg-cover bg-fixed bg-center">
  <div class="grid h-full sm:grid-cols-2 place-items-center">
    <div class="flex flex-col items-center">
      <h2
        class="text-white font-extrabold tracking-tighter text-center text-8xl"
      >
        Elitemod main page
      </h2>
      <div class="flex flex-row gap-2 items-center mt-10">
        <Icon class="h-12 text-white" name="mdi:discord" />
        <Icon class="h-12 text-white" name="mdi:cloud" />
      </div>
    </div>
    <div
      class="self-start w-2/3 max-w-3xl sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <Picture
        aspectRatio={1}
        class="object-cover w-full h-full relative"
        src="/static/space-marine-hero.png"
        widths={[650, 800]}
        sizes="(min-width: 640px) 42vw, 67vw"
        alt="Space Marine Hero Image"
      />
    </div>
  </div>
</section>
