---
import { Icon } from 'astro-icon';

// <h2
//       class="flex flex-col self-end gap-2 sm:gap-4 sm:self-auto sm:justify-self-end"
//     >
//       <div
//         class="text-white font-extrabold tracking-tighter text-center text-8xl"
//       >
//         Elitemod Landing Page
//       </div>
//       <Icon class="h-12 text-white" name="mdi:discord" />
//       <Icon class="h-12 text-white" name="mdi:cloud" />
//     </h2>
---

<section
  class="flex items-center justify-center bg-promo-one bg-no-repeat bg-cover bg-fixed bg-center h-[38rem]"
>
  <div class="flex flex-col items-center justify-center">
    <h2 class="text-white font-extrabold tracking-tighter text-center text-8xl">
      Dawn of war II: Elitemod
    </h2>
    <div class="flex flex-row gap-2 items-center mt-10">
      <Icon class="h-12 text-white" name="mdi:discord" />
      <Icon class="h-12 text-white" name="mdi:twitch" />
    </div>
  </div>
</section>
