---
import Ladder from '@/components/Ladder/Ladder.astro';
import { articles } from '@/utils';
import Article from './Article.astro';
---

<section class='w-full'>
  <div class='flex flex-col xl:flex-row gap-3 sm:gap-8'>
    <Ladder />
    <div class='rounded-3xl overflow-hidden flex-auto flex flex-col basis-2/5'>
      {
        articles.map(({ title, content, date, tournament }) => (
          <Article
            title={title}
            content={content}
            date={date}
            tournament={tournament}
          />
        ))
      }
    </div>
  </div>
</section>
