---
import badge from '@/assets/badge.png';

const navigationItems = ['Codex', 'Ladder', 'Elite', 'Forum'];
---

<div class="navbar bg-gray-900 px-4 md:px-8">
  <div class="navbar-start">
    <a href="https://dawnofwar.info/" class="flex items-center">
      <img src={badge} class="h-10 mr-3 sm:h-9" alt="Elitemod Logo" />
      <span
        class="self-center text-xl font-semibold whitespace-nowrap text-white"
      >
        Elitemod
      </span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {
        navigationItems.map(item => (
          <li>
            <a>{item}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn invisible sm:visible text-white bg-blue-700"
      >Download Elitemod</a
    >
    <div class="dropdown dropdown-end">
      <label
        tabindex="0"
        class="btn btn-ghost focus:bg-blue-700 mr-2 lg:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-gray-900 rounded-box w-52"
      >
        {
          navigationItems.map(item => (
            <li>
              <a>{item}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
