---
import Base from '@/templates/Base.astro';

const { id } = Astro.params;

const meta = {
  title: 'Single player statistics',
  description: 'This is single player stats page'
};
---

<Base head={meta}>
  <main class="p-4 md:p-8">
    <div class="max-w-screen-2xl mx-auto">
      <div>{id}</div>
    </div>
  </main>
</Base>
