---
---

<div class="p-4 md:p-8 max-w-screen-2xl lg:px-8 mx-auto relative">
  <div class="flex flex-wrap gap-3 justify-center">
    <div class="flex gap-3">
      <div
        class="flex flex-col items-center justify-between rounded-2xl p-4 bg-gray-900"
      >
        <h4 class="text-white font-bold">Ladder No.</h4>
        <span class="font-bold text-6xl">6</span>
        <div></div>
      </div>
      <div
        class="flex flex-col items-center justify-between rounded-2xl p-4 bg-gray-900"
      >
        <h4 class="text-white font-bold">Faction</h4>
        <img
          class="w-24 h-24"
          alt=""
          src="/images/str_power_sword_aptit_large.png"
        />
        <div></div>
      </div>
    </div>

    <div class="flex flex-wrap gap-3 justify-center">
      <div class="rounded-2xl p-4 bg-gray-900">
        <div class="flex items-center">
          <h4 class="flex-auto text-white font-bold">Ranked Games Rating</h4>
        </div>
        <table class="table-auto whitespace-nowrap mt-4">
          <thead>
            <tr class="text-left text-xs uppercase tracking-wider">
              <th class="font-bold py-1 px-2 pl-0">Mode</th>
              <th class="font-bold py-1 px-2">Rating</th>
              <th class="font-bold py-1 px-2 pr-0">Win Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-sm">
              <td class="p-2 pl-0">
                <div class="flex items-center">
                  <div class="text-right pl-1 flex-auto">1v1</div>
                </div>
              </td>
              <td class="p-2">2152</td>
              <td class="p-2 pr-0">
                <span class="inline-block mr-2">84.3%</span>
                <span class="inline-block mr-2 text-green-300">419W</span>
                <span class="inline-block text-red-300">78L</span>
              </td>
            </tr>
            <tr class="text-sm">
              <td class="p-2 pl-0">
                <div class="flex items-center">
                  <div class="text-right pl-1 flex-auto">2v2</div>
                </div>
              </td>
              <td class="p-2">-</td>
              <td class="p-2 pr-0">
                <span class="inline-block mr-2">100.0%</span>
                <span class="inline-block mr-2 text-green-300">2W</span>
                <span class="inline-block text-red-300">0L</span>
              </td>
            </tr>
            <tr class="text-sm">
              <td class="p-2 pl-0">
                <div class="flex items-center">
                  <div class="text-right pl-1 flex-auto">3v3</div>
                </div>
              </td>
              <td class="p-2">-</td>
              <td class="p-2 pr-0">
                <span class="inline-block mr-2">100.0%</span>
                <span class="inline-block mr-2 text-green-300">2W</span>
                <span class="inline-block text-red-300">0L</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- --- -->
      <div class="rounded-2xl p-4 bg-gray-900">
        <div class="flex items-center">
          <h4 class="flex-auto text-white font-bold">Top Opponents</h4>
        </div>
        <table class="table-auto whitespace-nowrap mt-4">
          <thead>
            <tr class="text-left text-xs uppercase tracking-wider">
              <th class="font-bold py-1 px-2 pl-0">Player</th>
              <th class="font-bold py-1 px-2">Games</th>
              <th class="font-bold py-1 px-2 pr-0">Win Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-sm">
              <td class="p-2 pl-0">
                <div class="flex items-center">
                  <div class="text-right pl-1 flex-auto">life</div>
                </div>
              </td>
              <td class="p-2">1265</td>
              <td class="p-2 pr-0">
                <span class="inline-block mr-2">84.3%</span>
                <span class="inline-block mr-2 text-green-300">419W</span>
                <span class="inline-block text-red-300">78L</span>
              </td>
            </tr>
            <tr class="text-sm">
              <td class="p-2 pl-0">
                <div class="flex items-center">
                  <div class="text-right pl-1 flex-auto">life</div>
                </div>
              </td>
              <td class="p-2">2</td>
              <td class="p-2 pr-0">
                <span class="inline-block mr-2">100.0%</span>
                <span class="inline-block mr-2 text-green-300">2W</span>
                <span class="inline-block text-red-300">0L</span>
              </td>
            </tr>
            <tr class="text-sm">
              <td class="p-2 pl-0">
                <div class="flex items-center">
                  <div class="text-right pl-1 flex-auto">life</div>
                </div>
              </td>
              <td class="p-2">2</td>
              <td class="p-2 pr-0">
                <span class="inline-block mr-2">100.0%</span>
                <span class="inline-block mr-2 text-green-300">2W</span>
                <span class="inline-block text-red-300">0L</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
